
  <meta charset="utf-8">

  

<button type="button" data-dismiss="modal" aria-label="Close" class="close"><a href="/checkout"><span aria-hidden="true">×</span></a></button>
<form id="checkout_form" action="{{tokenUrl}}" method="POST">
  <input type="hidden" id="token_hidden_input" name="token_hidden_input">
  <input type="hidden" id="session_hidden_input" name="session_hidden_input">
  <input type="hidden" id="3dsecure" name="3dsecure" value="false">

  <input id="price" name="price" type="hidden" placeholder="" class="input-xlarge" value="{{price}}">
  <input id="currency" name="currency" type="hidden" placeholder="" class="input-xlarge" value="{{currency}}">
</form>
<div id="errorDiv"></div>
<div id="resultDiv"></div>
<a href="/checkout">cancel</a>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.9.1/jquery.min.js"></script>
<script src="{{apiUrl}}/ceevo.js"></script>
<script type="text/javascript" language="JavaScript">

    var apikey = '{{apiKey}}';
    var formId = 'form#checkout_form';
    var config = {
      envMode: '{{mode}}', // LIVE
      receiveTokensEvent: false // support custom event listener 'receiveTokens' to send tokenise data to merchant. default false.
    };

    var ceevoPayment = new CeevoPayment(apikey, formId, config);

    
      var widget = ceevoPayment.widget();
      ceevoPayment.setPrice($('#price').val());
      ceevoPayment.setCurrency($('#currency').val());
      ceevoPayment.open_widget();
    

    ceevoPayment.addErrorCallBack(function (error) {
      document.getElementById('errorDiv').innerHTML = '';
      document.getElementById('errorDiv').innerHTML = error;
      document.getElementById('resultDiv').innerHTML = '';
    });

    document.getElementById('checkout_form').addEventListener('receiveTokens', function ({ detail }) {
      console.log('form.eventListener', detail);
      var result = '';
      for (var key in detail) {
        result += key + ': ' + detail[key] + '<br/>';
      }
      document.getElementById('resultDiv').innerHTML = result;
    })

    window.addEventListener('receiveTokens', function ({ detail }) {
      console.log('window.eventListener', detail);
    })

</script>
